@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap');

.arroz-img {
  max-width: 100%;
  height: auto;
  border: 2px solid #ffffff; /* Borda branca */
  border-radius: 8px; /* Arredondamento suave das bordas */
}

.prep-card-horizontal {
  background-color: white;
  border: 2px solid #792424; /* Borda escura */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px; /* Arredondamento suave das bordas */
  margin-bottom: 20px; /* Espaçamento entre os cards */
}

.prep-title {
  font-size: 2rem; /* Tamanho da fonte do título */
  margin-bottom: 1rem; /* Espaço abaixo do título */
  color: #792424; /* Cor do título */
  text-align: center;
}

h2 {
  color: #ffffff; /* Cor do texto para "ARROZ NORMAL" */
  margin-top: 40px; /* Espaço acima do título "ARROZ NORMAL" */
}

/* Estilos específicos para o conteúdo dentro do Card */
.prep-card-text {
  font-family: 'Inknut Antiqua', serif; /* Fonte personalizada */
}

.prep-card-list {
  padding-left: 20px; /* Espaçamento à esquerda da lista */
}

.prep-card-list li {
  font-family: 'Inknut Antiqua', serif; /* Fonte personalizada */
  font-size: 16px; /* Tamanho da fonte dos itens da lista */
  color: #333333; /* Cor do texto da lista */
  margin-top: 5px; /* Espaço entre os itens da lista */
}

.mt-5 {
  margin-top: 3rem;
}
