@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap');

.about-us-title {
  margin-top: 20px;  
  margin-bottom: 20px;  
  color: #f5a105;  
  font-family: 'Inknut Antiqua', serif;  
}

.about-us-paragraph {
  color: #FFFF;  
  font-size: 18px;  
  font-family: 'Inknut Antiqua', serif;  
}

/* Media Query 500px */

@media (max-width: 500px){
  .about-us-title{
    margin-top: 1em;
  }

  .about-us-paragraph {
    margin-top: 1em;
  }

}

/* Media Query 400px */
@media (max-width: 400px){
  .about-us-title{
    margin-top: 1em;
  }
  
  .about-us-paragraph {
    margin-top: 1em;
  }

}