@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap');

.about-us-title {
  margin-top: 20px;  
  margin-bottom: 20px;  
  color: #f5a105;  
  font-family: 'Inknut Antiqua', serif;  
}

.about-us-paragraph {
  color: #FFFF;  
  font-size: 18px;  
  font-family: 'Inknut Antiqua', serif;  
}
