@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap');

.notfound-container {
    margin-top: 4rem;
  }
  
  .notfound-title {
    margin-bottom: 1rem;
    color: #FFFF;
    font-size: 2rem; 
    font-family: 'Inknut Antiqua', serif;

  }
  
  .notfound-text {
    margin-bottom: 3rem;
    color: #FFFF;
    font-size: 1.25rem; 
    font-family: 'Inknut Antiqua', serif;

  }
  