/* BreadcrumbNavigation.css */
.custom-breadcrumb {
    padding: 10px 15px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    margin-bottom: 20px; /* Espaçamento abaixo do breadcrumb */
    background-color: transparent; /* Remove o fundo branco */
}

.breadcrumb-item a {
    font-size: 1rem; /* Tamanho da fonte dos itens */
    color: #fa7000; /* Cor do texto dos itens */
    text-decoration: none; /* Remove o sublinhado dos links */
}

.breadcrumb-item a:hover {
    color: #e59400; /* Cor do texto ao passar o mouse */
    text-decoration: none; /* Remove o sublinhado ao passar o mouse */
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '>'; /* Separador entre os itens */
    color: #FFFF; /* Cor do separador */
    padding: 0 5px; /* Espaço ao redor do separador */
}

.breadcrumb-item.active {
    color: #6c757d; /* Cor do item ativo */
    text-decoration: none; /* Garante que o item ativo também não tenha sublinhado */
}
