.custom-breadcrumb {
    padding: 10px 15px; 
    border-radius: 5px; 
    margin-bottom: 20px; 
    background-color: transparent; 
}

.breadcrumb-item a {
    font-size: 1rem; 
    color: #fa7000; 
    text-decoration: none; 
}

.breadcrumb-item a:hover {
    color: #e59400; 
    text-decoration: none; 
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '>'; 
    color: #FFFF; 
    padding: 0 5px; 
}

.breadcrumb-item.active {
    color: #6c757d; 
    text-decoration: none; 
}
