@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap');

#arroz-section {
    color: #343a40; /* Cor do texto escuro */
    padding: 20px;
    border-radius: 8px;
    color: #FFFF;
  }
  
  #arroz-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: 'Inknut Antiqua', serif;
  }
  
  #arroz-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-family: 'Inknut Antiqua', serif;
  }
  
  #recipes-heading {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: 'Inknut Antiqua', serif;
  }
  
  .main-card {
    position: relative;
    display: block;
  }
  
  .main-card-img-top {
    height: 300px;
    object-fit: cover;
  }
  
  .main-card-body {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semitransparente */
  }
  
  .main-card-body .card-title {
    border-radius: 50px;
    background-color: #000;
    color: #fa7000;
    padding: 10px 20px;
    margin: 0;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .main-card-body .card-title:hover {
    background-color: #fa7000;
    color: #000;
  }
  
  .nav-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  